
* {
	margin: 0;
	padding: 0;
}
p{
	font-family: 'Roboto', sans-serif;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background: url(background_image2.jpg) no-repeat center fixed;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	position: relative;
	height: 100vh;
	color: white;
	line-height: 1.6;
}

img {
	max-width: 100%;

}

p{
	margin-bottom: 30px;
}

nav {
	background-color: rgba(255,255,255, .8);
	padding: 0 20px;
	font-size: 14px;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
}

nav a{
	color: #2e2c2c;
	text-decoration: none;
	text-transform: uppercase;
	padding: 20px 10px;
	display: block;
}

.dropdown {
	position: relative;
}

.dropdown-menu {
	opacity: 0;
	visibility: hidden;
	font-size: 12px;
	position: absolute;
	top: 62px;
	display: flex;
	flex-direction: column;
	min-width: 200px;
	height: auto;
	z-index: 5000;
	left: 0;
	text-align: left;
	background-color: rgba(255,255,255, .8);
}

.drowpdown-menu li {
}

.dropdown-menu a {
	padding: 10px 20px;
	display: block;
}

.dropdown:hover .dropdown-menu {
	opacity: 1;
	visibility: visible;
}

.title {
	padding: 80px 0;
}

h1 {
	font-family: 'Adamina', serif;
}

.gallery{
	display: grid;
	max-width: 1000px;
	margin: 0px auto;
	background-color: white;
	padding: 30px;
	grid-gap: 30px;


}

.gallery img{
	width: 100%;
}

.white-container {
	max-width: 1000px;
	margin: 0px auto;
	background-color: white;
	padding: 30px;
	color: #2e2c2c;
}

.quote{
	font-style: italic;
}

.about-image{
	max-width: 500px;
	width: 100%;

}
.bio{
	text-align: left;
	margin-top: 15px;
}
.bio{
	text-align: left;
}

.book {
	color:black;

}

footer{
	padding: 80px 0px;

}

footer ul {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer li {
	background-color: white;
/*	width: 20px;
	height: 20px;*/
	border-radius: 70%;
	margin: 0 10px;
	transition: all .5s;
}

footer li a {
	display: block;
	width: 20px;
	height: 20px;
	padding: 10px;
}

footer li:hover {
	opacity: .8;
}

footer img{
}

@media (min-width: 600px){
	.gallery{
		grid-template-columns: 1fr 1fr 1fr;
	}

	.gallery img {
		max-height: 328px;
		object-fit: cover;
	}
}

























